DEPLOYER_PRIV_KEY=

SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ARBITRUM_RPC_URL=https://arbitrum-sepolia-rpc.publicnode.com
OPTIMISM_RPC_URL=https://optimism-sepolia.api.onfinality.io/public

# Etherscan API keys
API_KEY_ETHERSCAN=
API_KEY_ARBISCAN=
API_KEY_OPTIMISTIC=
